<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BugHunter.Analyzers" version="1.0.1" targetFramework="net452" />
  <package id="BugHunter.Web.Analyzers" version="1.0.1" targetFramework="net452" />
  <package id="Kentico.Libraries" version="10.0.22" targetFramework="net452" />
  <package id="Kentico.Libraries.Dependencies" version="10.0.22" targetFramework="net452" />
  <package id="Kentico.Libraries.Web.UI" version="10.0.22" targetFramework="net452" />
</packages>